/* .index-wrap {
    width: 100%;
  }
  .latest-info {
    width: 80%;
    margin: 0 auto;
  }
  label {
    font-size: 22px;
    letter-spacing: 3px;
    margin-left: 10px;
  }
  .flag {
    width: 15px;
    height: 15px;
    border: 5px solid red;
    border-radius: 50%;
    float: left;
  }
  .lbt-card {
    width: 800px;
    margin: 0 auto;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
  .music-info {
    width: 100%;
  }
  .el-row {
    width: 100%;
    float: right;
    margin-top: 20px;
  }
  .el-col {
    margin-right: 25px;
    margin-bottom: 30px;
    margin-left: 19px;
  }
  .image {
    width: 100%;
  }
  .bottom {
    height: 44px;
    line-height: 44px;
  }
  .el-button {
    float: right;
  }
  .star {
    display: inline;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  } */