<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muguifang.mapper.TMusicMapper" >
  <resultMap id="BaseResultMap" type="com.muguifang.po.TMusic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="musicName" property="musicname" jdbcType="VARCHAR" />
    <result column="musicPhoto" property="musicphoto" jdbcType="VARCHAR" />
    <result column="musicPlay" property="musicplay" jdbcType="VARCHAR" />
    <result column="mvPlay" property="mvplay" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="playNum" property="playnum" jdbcType="INTEGER" />
    <result column="insertDate" property="insertdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, musicName, musicPhoto, musicPlay, mvPlay, recommend, status, type_id, playNum, 
    insertDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.muguifang.po.TMusicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_music
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_music
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_music
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.muguifang.po.TMusicExample" >
    delete from t_music
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.muguifang.po.TMusic" >
    insert into t_music (id, musicName, musicPhoto, 
      musicPlay, mvPlay, recommend, 
      status, type_id, playNum, 
      insertDate)
    values (#{id,jdbcType=INTEGER}, #{musicname,jdbcType=VARCHAR}, #{musicphoto,jdbcType=VARCHAR}, 
      #{musicplay,jdbcType=VARCHAR}, #{mvplay,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{playnum,jdbcType=INTEGER}, 
      #{insertdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.muguifang.po.TMusic" >
    insert into t_music
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="musicname != null" >
        musicName,
      </if>
      <if test="musicphoto != null" >
        musicPhoto,
      </if>
      <if test="musicplay != null" >
        musicPlay,
      </if>
      <if test="mvplay != null" >
        mvPlay,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="playnum != null" >
        playNum,
      </if>
      <if test="insertdate != null" >
        insertDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="musicname != null" >
        #{musicname,jdbcType=VARCHAR},
      </if>
      <if test="musicphoto != null" >
        #{musicphoto,jdbcType=VARCHAR},
      </if>
      <if test="musicplay != null" >
        #{musicplay,jdbcType=VARCHAR},
      </if>
      <if test="mvplay != null" >
        #{mvplay,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="playnum != null" >
        #{playnum,jdbcType=INTEGER},
      </if>
      <if test="insertdate != null" >
        #{insertdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.muguifang.po.TMusicExample" resultType="java.lang.Integer" >
    select count(*) from t_music
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_music
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.musicname != null" >
        musicName = #{record.musicname,jdbcType=VARCHAR},
      </if>
      <if test="record.musicphoto != null" >
        musicPhoto = #{record.musicphoto,jdbcType=VARCHAR},
      </if>
      <if test="record.musicplay != null" >
        musicPlay = #{record.musicplay,jdbcType=VARCHAR},
      </if>
      <if test="record.mvplay != null" >
        mvPlay = #{record.mvplay,jdbcType=VARCHAR},
      </if>
      <if test="record.recommend != null" >
        recommend = #{record.recommend,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.playnum != null" >
        playNum = #{record.playnum,jdbcType=INTEGER},
      </if>
      <if test="record.insertdate != null" >
        insertDate = #{record.insertdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_music
    set id = #{record.id,jdbcType=INTEGER},
      musicName = #{record.musicname,jdbcType=VARCHAR},
      musicPhoto = #{record.musicphoto,jdbcType=VARCHAR},
      musicPlay = #{record.musicplay,jdbcType=VARCHAR},
      mvPlay = #{record.mvplay,jdbcType=VARCHAR},
      recommend = #{record.recommend,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      type_id = #{record.typeId,jdbcType=INTEGER},
      playNum = #{record.playnum,jdbcType=INTEGER},
      insertDate = #{record.insertdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.muguifang.po.TMusic" >
    update t_music
    <set >
      <if test="musicname != null" >
        musicName = #{musicname,jdbcType=VARCHAR},
      </if>
      <if test="musicphoto != null" >
        musicPhoto = #{musicphoto,jdbcType=VARCHAR},
      </if>
      <if test="musicplay != null" >
        musicPlay = #{musicplay,jdbcType=VARCHAR},
      </if>
      <if test="mvplay != null" >
        mvPlay = #{mvplay,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="playnum != null" >
        playNum = #{playnum,jdbcType=INTEGER},
      </if>
      <if test="insertdate != null" >
        insertDate = #{insertdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muguifang.po.TMusic" >
    update t_music
    set musicName = #{musicname,jdbcType=VARCHAR},
      musicPhoto = #{musicphoto,jdbcType=VARCHAR},
      musicPlay = #{musicplay,jdbcType=VARCHAR},
      mvPlay = #{mvplay,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      playNum = #{playnum,jdbcType=INTEGER},
      insertDate = #{insertdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>